[submodule "udacity-happy-birthday"]
	path = udacity-happy-birthday
	url = https://github.com/SuperMex/udacity-happy-birthday.git
[submodule "udacity-just-java"]
	path = udacity-just-java
	url = https://github.com/SuperMex/udacity-just-java
[submodule "PracticeSet2"]
	path = PracticeSet2
	url = https://github.com/SuperMex/PracticeSet2
